{% extends "base.html" %}
{% block body %}
<div class="container">
  <div class="page-header">
    <h1>{{_('About the site')}}</h1>
  </div>
  <p class="lead">{{_('Toumeika is an unofficial index of Japanese political funding declarations.')}}</p>
  <p>{{_('A few times a year, the Ministry of Internal Affairs and Communications publishes political funds declarations <a href="http://www.soumu.go.jp/senkyo/seiji_s/seijishikin/">on its website</a>.  The format of publication is difficult to access, has no search capability, and the documents are only retained for the most recent 3 years.')}}</p>
  <p>{{_('Since 2012, this site has been indexing and mirroring all the documents to make them more accessible.')}}</p>
  <p>{{_('If you have feedback, ideas, or would like to help out, please go to the <i class="fa fa-github"></i> <a href="https://github.com/mduggan/shikin/">GitHub project</a>.')}}</p>
</div>
{% endblock %}
