{% extends "base.html" %}

{% block extrahead %}
<style>
#pageimage {
  width: 1170px;
  height: 1500px;
  overflow: hidden;
}

#highlight {
  position: relative;
  float: left;
  border: 3px solid #C00000;
  overflow: hidden;
  display: none;
}

#overlay {
  background: rgba(200,200,200,0.8);
  position: relative;
  float: left;
  border: 2px solid #000000;
  overflow: visible;
  display: none;
}

</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="row">
    {% if not user %}
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
      <h2>Login to review documents</h2>
      </div>
    </div>
    <div class="col-md-6 col-md-offset-3">
    <form class="form" name="loginform" method="post">
    {% if error %}<div class="error"><strong>Error:</strong> {{ error }}</div>{% endif %}
        <div class="form-group {% if error == 'Invalid username' %}has-error{% endif %}">
          <label for="username">Username:</label>
          <input type="text" class="form-control" name="username" size="30" value="{{ request.form.username }}">
        </div>
        <div class="form-group {% if error == 'Invalid password' %}has-error{% endif %}">
          <label for="password">Password:</label>
          <input type="password" class="form-control" name="password" size="30">
        </div>
        <button type="submit" class="btn btn-default">Log In</button>
      </form>
    </div>
    {% else %}
    <div id="pageimage">
      <div id="highlight"> </div>
      <div class="row">
      <div id="overlay" class="col-md-6 col-md-offset-3">
          <div class="col-md-6">
          <p>OCR'd text:</p>
          <pre id="ocrtext"></pre>
          <p>Suggestions:</p>
          <ul id="suggestions">
          </ul>
          </div>
          <div class="col-md-6">
          <p>Review text:</p>
          <form class="form" role="form" name="textform" method="post">
            <div class="form-group">
              <input type="hidden" name="segment_id" value="-1">
              <label class="sr-only" for="usertext">Correct OCR text:</label>
              <textarea id="usertext" name="usertext" class="form-control" rows="2"></textarea>
              <button type="submit" class="btn btn-success" value="save" name="save" id="savebutton"><i class="fa fa-check"></i> Save</button>
              <button type="input" class="btn btn-default" value="skip" name="skip" id="skipbutton"><i class="fa fa-forward"></i> Skip</button>
              <button type="input" class="btn btn-warning" value="undo" name="undo" id="undobutton"><i class="fa fa-undo"></i> Undo</button>
            </div>
          </form>
          </div>
      </div>
      </div>
    </div>
    {% endif %}
  </div>

</div>
{% endblock %}

{% block extrafooter%}
<script type="text/javascript" src="/static/js/review.js">
</script>
{% endblock %}
