{% extends "base.html" %}

{% block extrahead %}
<style>
#pageimage {
  background: url(/doc/cached/{{doc_id}}/{{page}});
  background-repeat: no-repeat;
  background-size: 1170px;
  width: 1170px;
  height: 1500px;
  overflow: hidden;
}

#highlight {
  position: relative;
  float: left;
  border: 2px solid #800000;
  overflow: hidden;
}

#overlay {
  background: rgba(200,200,200,0.8);
  position: relative;
  float: left;
  border: 2px solid #000000;
  overflow: visible;
}

</style>
{% endblock %}

{% block body %}
<div class="container">
  <div class="page-header">
    <h1>{{_('OCR Review')}}</h1>
  </div>
  <div class="row">
    <div id="pageimage">
      <div id="highlight"> </div>
      <div id="overlay" class="col-md-6">
          <div class="col-md-6">
          <p>OCR'd text:</p>
          <pre>{{ocrtext}}</pre>
          </div>
          <div class="col-md-6">
          <p>Review text:</p>
          <form class="form" role="form" name="textform" method="post">
            <div class="form-group">
              <input type="hidden" name="segment_id" value="{{segment_id}}">
              <label class="sr-only" for="usertext">Correct OCR text:</label>
              <textarea id="usertext" name="usertext" class="form-control" rows="{{textlines}}">{{text}}</textarea>
              <button type="submit" class="btn btn-success" value="save" name="save"><i class="fa fa-check"></i> Save</button>
              <button type="input" class="btn btn-default" value="skip" name="skip"><i class="fa fa-forward"></i> Skip</button>
            </div>
          </form>
          </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}

{% block extrafooter%}
<script type="text/javascript">
$(function() {
    var imgw = 3510.0;
    var imgh = 2482.0;

    var img = document.getElementById('pageimage');
    var img_cw = img.clientWidth;
    var img_ch = 827; //img.clientHeight;

    var scale_x = img_cw / imgw;
    var scale_y = img_ch / imgh;

    var x1 = Math.round({{x1}} * scale_x);
    var y1 = Math.round({{y1}} * scale_y);
    var x2 = Math.round({{x2}} * scale_x);
    var y2 = Math.round({{y2}} * scale_y);

    var highlight = $('#highlight');
    highlight.css('top', '' + y1 + 'px');
    highlight.css('left', '' + x1 + 'px');
    highlight.css('width', '' + (x2-x1) + 'px');
    highlight.css('height', '' + (y2-y1) + 'px');

    var overlay = $('#overlay');
    overlay.css('top', '' + y2 + 'px');
    overlay.css('left', '0px');
    console.log('Block: ' + x1 + ',' + y1 + ' - ' + x2 + ','+ y2 + 'px');
});
</script>
{% endblock %}
